@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&display=swap');

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 70px;
}

.pmain{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pmain .p1main{
   margin-left: 8vw;
}

.pmain .p1main h1{
    color: #7952b3;
    font-size: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}

.pmain .p1main p, .pmain .p1main span{
    color: gray;
    font-size: 20px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}

.pmain .p1main span{
    font-size: 16px;
    font-weight: 400;
}

.p1main .button button {
    padding: 15px;
    padding-left:4vw;
    padding-right: 4vw;
    background: white;
    border-radius: 5px;
    font-size: 20px;
    display: inline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
     margin-bottom: 20px;
}

.p1main .button .started{
    border:1.2px solid #7952b3;
    color: #7952b3;
    
}
.p1main .button .started:hover{
    background: #7952b3;
    color: white; 
}


.p1main .button .download{
  
    border: 1.2px solid #6c757d;
    color: #6c757d;
    margin-left: 10px;

}
.p1main .button .download:hover{
    background: #6c757d;
    color: white;

}

.main .pmain img{
    width:520px;
    height:430px;
    margin-right:10vh;
}

.main .smain{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20vh;
}
@media only screen and (max-width:1200px){
    .main .pmain img{
        width: 460px;
        height: 380px;
        margin-right: 6vh;
    }
    .pmain .p1main h1{
        font-size: 60px;
    }
}

@media only screen and (max-width:1050px){
    .pmain .p1main{
        margin-left: 5vw;
     }
     .pmain .p1main h1{
        font-size: 50px;
    }
    
}

@media only screen and (max-width:991px){
    .main .pmain img{
        width: 330px;
        height: 250px;
    }
    .pmain .p1main h1{
        font-size: 50px;
    }
    .pmain .p1main{
        margin-left: 12vw;
        margin-right: 8vw;
     }
     .p1main .button .download{
        margin-left: 0px;
    }
    .p1main .button{
        text-align: center;
        display: flex;
        flex-direction: column;
        
    }
    
}

@media only screen and (max-width:768px){
    .pmain{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-left: 6vw;
        margin-right: 6vw;
    }
    .pmain .p1main{
        margin-left: 0px;
        margin-right: 0px;
     }
     .main .pmain img{
        width: 230px;
        height: 200px;
        margin-left: 20px;
    }
    
   
}
@media only screen and (max-width:845px){
    .main .smain{
        display: flex;
        flex-direction: column;
    }
}
/* 
.smain{
    
} */